* {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  font-size: 20px;
  background-color:rgb(185, 179, 151);
  color: rgb(47, 47, 58);
  font-family: 'Noto Serif', serif;
}

.container {
  background-color: rgb(65, 65, 68);
}

#header {
  width: 70%;
  height: 100px;
  margin: auto;
  padding: 10px 0 ;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 50px;
  color: rgb(214, 190, 190);
}

#library {
  margin-left: 40px;
}

#add-book {
  background-color: rgb(214, 190, 190);
  border-radius: 5px;
  width: 80px;
  margin-left: auto;
  margin-right: 20px;
  padding: 10px;
  font-size: 20px;
  font-family: inherit;
  color: rgb(59, 64, 68);
  cursor: pointer;
}

#add-book:hover {
  background-color: rgb(180, 170, 113);
}

#add-book:active {
  color: aliceblue;
}

#form {
  background-color: rgb(175, 169, 134);
  border: 4px solid rgb(110, 106, 83);
  border-top: none;
  border-radius: 2px;
  box-shadow: 1px 1px 3px -1px rgb(99, 88, 75); 
  width: 300px;
  position: absolute;
  right: 0px;
  display: none;
  font-size: 20px;
  padding: 10px;
}

.submit, input, textarea, label {
  width: 90%;
  padding: 5px;
  margin: 10px;
  line-height: 1.7em;
  border-radius: 2px;
  font-family: inherit;
  font-size: 80%;
  color: rgb(59, 64, 68);
}

#read {
  width: 30px;
}

.submit {
  background-color: rgb(214, 190, 190);
  border-radius: 5px;
  width: 50%;
  cursor: pointer;
} 

.submit:hover {
  background-color: rgb(196, 163, 167);
}

#main-container {
  background-color: rgb(243, 241, 237);
  width: 70%;
  min-width: 700px;
  min-height: 700px;
  margin: auto;
  position: relative;
}

#shelf {
  padding: 10px 20px 200px;
}

.card {
  height: 50px;
  background-color: rgb(214, 199, 199);
  border: 3px solid rgb(190, 161, 161);
  margin-top: 10px;
  padding: 10px;
  display: grid;
  grid-template-columns: 40% 30% 10% 15% 5%;
  align-items: center;

}

.cardRead{
  background-color: rgb(190, 161, 161);
  border-radius: 5px;
  padding: 7px 5px;
  display: flex;
  justify-content: center;
  width: 70px;
  cursor: pointer;
  font: inherit;
  font-size: 15px;
  color: inherit;
}

.cardRead:hover {
  background-color: rgb(180, 158, 161) !important;
}

.cardTitle {
  padding-left: 10px;
}

.cardAuthor {
  font-size: 18px;
}

.cardPages {
  font-size: 18px;
}

.removeBtn {
  width: 10px;
  height: 15px;
  background-color: rgb(216, 203, 205);
  border-radius: 5px;
  cursor: pointer;
}

.removeBtn:hover {
  background-color: rgb(201, 178, 184);
}